/* Colors */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    .table-div {
        background-color: #1b1b1b;
    }

    code {
        color:#CAAF76;
    }

    th {
        border-color: white;
    }

    td {
        border-color: #777777;
    }

    .footnotes {
        color:#777777;
    }

    .fab,.fas {
        color: white;
    }

    .fab:hover,.fas:hover {
        color: #bbbbbb;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color:#1b1b1b;
        background-color: #F2F3F5;
    }

    code {
        color:#AD2F2F;
    }

    .table-div {
        background-color: white;
        box-shadow: 0px 0px 1rem rgb(230, 230, 230);
    }

    td {
        border-color: #D1D1D1;
    }

    .footnotes {
        color:#777777
    }

    .fab,.fas {
        color: #1b1b1b;
    }

    .fab:hover,.fas:hover {
        color: #777777;
    }
}