body {
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: 0px;
}

table {
    width: 100%;
    border: 0px solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

.table-div {
    padding:0.25rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
}

td,th {
    text-align: left;
    border-bottom: 1px solid;
}

.separator {
    border-bottom: 1px solid
}

.end {
    border-bottom: 0;
}

a {
    margin-right: 0.5rem;
}

[class^="fab "] {
    font-size: 1.25rem;
}

.width-first {
    width: 11%;
}

.width-middle {
    width: 46%;
}