@media screen and (max-width:576px) {
    body {
        margin:1rem;
    }

    td,th {
        padding:0.5rem 0.5rem;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    body {
        margin:2rem 3rem;
    }
}

@media screen and (min-width:992px) {
    body {
        margin:2rem 20%;
    }
}

@media screen and (min-width:576px) {
    td,th {
        padding:0.5rem 0.5rem 0.5rem 1rem;
    }
}